.card {
  margin: 10px;
  width: 256px;
  height: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  border: 5px solid white;
}

.playlist-text {
  text-align: center;
  color: white;
  font-size: 12px;
}

.playlist-text h2 {
  font-weight: 500;
}

.delete-playlist-btn {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50px;
}
